body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #fffaff;
  background-size: cover;
}

#bio-content {
    width:100%;
    height: 100%;
    padding-top: 40px;
}

nav ul {
    font-family: 'Raleway', sans-serif;
    padding: 10px 5px 0 5px;
    list-style: none;
    font-weight: normal;
    line-height: 28px;

}
nav ul li {
    display: inline;
    margin-right: 10px;
}

.navbar{
    width: 100%;
    background-color: #fffaff;
    color:#22181c;
}

#navbar-container {
    padding-right: 30px;
}

navbar-spacer {
    display:block;
    min-height:60px;
}

.navbar a {
    text-decoration: none;
    color: #f13030;
}

.footer a {
    color: #fcf7ff;
}

a:hover {
    color:#f45b69;
    text-decoration: underline;
}

#img-size {
    height:150px;
}

h1 {
    font-size: 3em;
    font-family: 'Raleway', sans-serif;
    color: #22181c;
}

h2 {
    font-family: 'Raleway', sans-serif;
    color:#f13030;
}

h3 {
    font-family: 'Raleway', sans-serif;
    color: #5a0001;
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    line-height: 1.4em;
    color: #22181c;
}

#footer {
    height:200px;
    width: 100%;
    padding-top: 20px;
}

footer {
    background-color: #22181c;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
    align-content: left;
}

ul.posts li {
    list-style: none;
}

ul {
    align-content: left;
    color: #6b6b6b;
}

ul li {
    align-content: left;
    color: #22181c;
}

.btn-outline-primary {
    border: 1px solid #f13030;
    background: transparent;
}

.btn a {
    color: #f13030;
}

#projects h1{
    text-align: center;
}

footer ul{
    font-family: 'Raleway', sans-serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
    color:#fcf7ff;
}

footer ul li{
    display: inline;
    margin-right: 10px;
}

