body {
    margin: 0;
    width: 100%;
    height: 100%;
    background: url(https://s3-us-west-1.amazonaws.com/jessicaritter/assets/IMG_1113.JPG) no-repeat center center fixed; 
  background-size: cover;
}

#main-content {
    background-color: rgba(0, 0, 0, 0.8);
}

#bio-content {
    width:100%;
    height: 100%;
}

nav ul {
    font-family: 'Raleway', sans-serif;
    padding: 10px 5px 0 5px;
    list-style: none;
    font-weight: normal;
    line-height: 28px;

}
nav ul li {
    display: inline;
    margin-right: 10px;
}

.navbar{
    width: 100%;
}

#navbar-container {
    padding-right: 30px;
}

navbar-spacer {
    display:block;
    min-height:60px;
}

a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}

#img-circle {
    border-radius: 50%;
}

h1 {
    font-size: 3em;
    font-family: 'Raleway', sans-serif;
    color: #ff2c55;
}

h2 {
    font-family: 'Raleway', sans-serif;
    color:#fcd0a1;
}

h3 {
    font-family: 'Raleway', sans-serif;
    color: #c41e3d;
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    line-height: 1.4em;
    color: #7c7c7c;
}

#footer {
    height:80px;
    width: 100%;
    padding-top: 20px;
}

footer {
    background-color: #2f2f2f;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
    align-content: left;
}

ul.posts li {
    list-style: none;
}

ul {
    align-content: left;
    color: #6b6b6b;
}

ul li {
    align-content: left;
    color: #7c7c7c;
}

#projects h1{
    text-align: center;
}

footer ul{
    font-family: 'Raleway', sans-serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
    color:#fcd0a1;
}

footer ul li{
    display: inline;
    margin-right: 10px;
}

