<!DOCTYPE html>
<html>
<header>
  <title>{{ page.title }}</title>
  <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css"/>
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <script type="text/javascript">
    window.heap=window.heap||[],heap.load=function(e,t){window.heap.appid=e,window.heap.config=t=t||{};var r=t.forceSSL||"https:"===document.location.protocol,a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=(r?"https:":"http:")+"//cdn.heapanalytics.com/js/heap-"+e+".js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n);for(var o=function(e){return function(){heap.push([e].concat(Array.prototype.slice.call(arguments,0)))}},p=["addEventProperties","addUserProperties","clearEventProperties","identify","removeEventProperty","setEventProperties","track","unsetEventProperty"],c=0;c<p.length;c++)heap[p[c]]=o(p[c])};
      heap.load("1878398978");
</script>
  <link href="/bootstrap/boostrap.min.js">
</header>
<body>
    <nav class="navbar navbar-default navbar-static-top" role="banner">
      <div class="container" id="navbar-container">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/cv">CV</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/sift">Sift</a></li>
          </ul>
      </div>
    </nav>
    <div class="navbar-spacer"></div>
      <div class="container" align="center" id="main-content">
       {{ content }}
      </div>
      <footer class="footer navbar-fixed-bottom">
        <div class="container" id="footer-container" align="center">
          <ul>
            <li><a href="mailto:jessicalynn.w.ritter@gmail.com">email</a></li>
            <li><a href="https://github.com/jessicaritter">github</a></li>
            <li><a href="https://twitter.com/jessicalritter" class="twitter-follow-button" data-show-count="false">Follow @jessicalritter</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></li>
          </ul>
        </div>
      </footer>
  </body>
</html>
